//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

:root{
  // Dimension maximal
  --max-width: 1200px;
  --min-width: 375px;

  --padding-thin: 15px;
  --padding-large: 30px;

  --margin-thin: 30px;
  --margin-large: 50px;

}


// MEDIA QUERIES BREAKPOINTS
$vw-thin: 375px;
$vw-small: 576px;
$vw-medium: 768px;
$vw-large: 1000px;
$vw-huge: 1200px;






